@import "styles/globals";

.login {
	@extend .fullScreen;
  z-index: 0.9;
  background-color: rgb(250, 232, 217);
  //display: flex;
  //flex-direction: column;
}

.centerColumn {
  margin: auto;
  padding-top: 20px;
  max-width: 90vw;
  min-width: 300px;
  width: 640px;
  display: flex;
  flex-direction: column;
  text-align: center;

  button, div {
    margin-top: $def-vert-padding;
  }
}

.centerColumn Form {
  display: flex;
  flex-direction: column;
}

.loginForm {
  @extend .form;
  background-color: white;
}

.headerImage {
  width: 200px;
  max-width: 40vw;
  min-width: 100px;
  margin: auto;
}

.newVolunteer {
  
}

.volunteerButton {

}